{% extends 'layout.html' %}

{% import 'macros.html' as m %}

{% set page_description = 'An easy fun way to acknowledge good work and deeds on Slack. Give your team members the recognition they deserve. Install mrtallyman Slack bot.' %}

{% block styles %}
<style>
#list-bananas, #list-trolls {
    padding-left: 0;
    list-style-type: none;
}
#list-bananas li, #list-trolls li {
    line-height: 32px;
    padding-left: 40px;
    background-repeat: no-repeat;
}
#list-bananas li {
    background-image: url('{{ url_for('static', filename='images/banana-32x32.png') }}');
}
#list-trolls li {
    background-image: url('{{ url_for('static', filename='images/troll-32x32.png') }}');
}
</style>
{% endblock %}

{% block scripts_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.legacy.min.js"></script>
<script>svg4everybody();</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-intro col-md-8">
        <h1>Create a {{ m.banana(40, 40, 'banana') }} republic!</h1>

        <ul id="list-bananas">
            <li>An easy, fun way to acknowledge good work and good deeds in your team.</li>
            <li>Give your team members the recognition they deserve.</li>
        </ul>

        <ul id="list-trolls">
            <li>See who the biggest trolls are in the team!</li>
        </ul>

        <div class="text-center">
            <p>
                <a id="how-it-works" href="{{ url_for('how_it_works') }}">How It Works</a>
            </p>

            <a id="add-to-slack" href="https://slack.com/oauth/authorize?client_id=98284152818.461715963335&scope=app_mentions:read,channels:history,channels:read,chat:write,commands,groups:read,im:history,im:read,incoming-webhook,mpim:history,mpim:read,reactions:read,team:read,users:write&user_scope=channels:history,groups:history,im:history,reactions:read">
                    <img src="https://platform.slack-edge.com/img/add_to_slack.png"
                        alt="Add to Slack"
                        height="40"
                        width="139"
                        srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x">
            </a>
        </div>
    </div>
    <div class="col-image col-md-4 text-right">
        <img src="{{ url_for('static', filename='images/monkey-385x385.png') }}" alt="monkey">
    </div>
</div>
{% endblock %}
