{% extends 'layout.html' %}

{% set title = 'sorry you don\'t want to install' %}
{% set description = 'Sorry to see you don\t want to install the mrtallyman Slack bot.' %}

{% block content %}
<h1>Sorry!</h1>

<p>
    We're sorry to hear you don't like the permissions we've requested. Please have a look at our
    <a href="{{ url_for('privacy_policy') }}">privacy policy</a> to review the content that we collect
    and store. The only personally indentifiable information we store is your user ID from Slack.
</p>
{% endblock }
