[Unit]
Description=mrtallyman service

[Service]
ExecStart=/home/marlinf/.virtualenvs/mrtallyman/bin/gunicorn --workers=2 --bind unix:mrtallyman.sock 'server:create_app()'
WorkingDirectory=/home/marlinf/mrtallyman/
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
