[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
ExecStart=/home/mrtallyman/.virtualenvs/mrtallyman/bin/uwsgi --ini /home/mrtallyman/mrtallyman/etc/uwsgi.ini
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
